div#mosaic {
    width: 100%;
}

div.cover {
    width: 20%;
    margin: 0px;
    padding: 0px;
    height: 150px;
    float: left;
}

div.cover img {
    height: 100%;
    
}

div.dates {
    margin: 0px;
    padding: 0px;
    width: 80%;
    height: 150px;
    float: right;
}

div.days {
    margin: 0px 1px;
    padding: 0px;
    height: 50%;
    text-align: center;
}

div.days button {
    display: block;
    float: left;
    width: 14.285%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: small;
}

div.hours {
    margin-bottom: 15px;
    padding: 0px;
    height: 50%;
    text-align: center;
    font-size: 1rem;
    border: solid 1px black;
}

div.hours p {
    margin: 0px;
    padding: 0px;
    line-height: 1.25;
}